<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books for Days</title>
</head>
<body>
  <h1>Book List</h1>

  <a href="/books/new">Add New Book</a>

  <% if (!books === [null]) { %> 
    <ul>
      <% books.forEach(book => { %>
      <li><%= book.name %> - <%= book.read ? 'Read' : 'Not Read'%></li>
      <% }) %>
    </ul>
  <% } else { %> 
    <h2>No Books Listed...</h2>
  <% } %> 
</body>
</html>